.advantages {
  background-color: #ffffff;
}

.advantages__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

.advantagess__image-back {
  width: 60px;
  height: 60px;
  background-color: $green;
}

.advantages__text {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
}
