.selection {
  background-color: #ffffff;
}

.selection__title {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
}

.selection__text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
}
