@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
