@import "global/variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  background-color: $white;
  color: $black;
}

img {
  height: auto;
}

a {
  text-decoration: none;
  color: $black;
}

ul {
  padding: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
}
